@use '../general/variables';
@use '../general/mixins';

.carte-candidat {
    background-color: variables.$white;
    @include mixins.padding(variables.$spacing-small * 1.25, variables.$spacing-small * 1.25);
    @include mixins.flex(row, null, center, variables.$spacing-small);

    &__img {
        background-color: variables.$purple;
        max-width: 100px;
        @include mixins.padding(variables.$spacing-small, variables.$spacing-small);

    }

    &__texte {
        @include mixins.flex(column, null, flex-start, variables.$spacing-small);

        h2 {
            font-size: variables.$font-style-h5;
            color: variables.$black;
        }

        p {
            @include mixins.font(variables.$font-headings, 16px, variables.$regular);
        }
    }
}