@use '../general/variables';
@use '../general/mixins';


table {
    border-collapse: collapse;
    width: 100%;
    font-family: variables.$font-body;

    th {
        font-size: 15px;
        color: variables.$gray;
        @include mixins.font(variables.$font-body, null, bold);
        padding-bottom: 0.5rem;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 100%;
            height: 5px;
            background-color: variables.$gray;
        }
    }

    td {
        font-size: 16px;
        color: variables.$black;
    }

    @include mixins.media-max(1500px) {
        thead {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            padding: 0;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            border: 0;
        }
    }
}

.liste {

    &__rangee {
        display: grid;
        grid-template-columns: 2fr 1.5fr 1fr 2fr;
        gap: variables.$spacing-medium;
        width: 100%;

        &:not(:has(th)) {
            @include mixins.padding(variables.$spacing-medium, null);
        }

        @include mixins.media-max(1500px) {
            grid-template-columns: 2fr 1fr 2fr;
            column-gap: variables.$spacing-medium;
            row-gap: variables.$spacing-small;

            &:first-child {
                padding-top: 0;
            }
        }

        @include mixins.media-max(900px) {
            grid-template-columns: 2fr 1fr 1.5fr;
        }

        @include mixins.media-max(768px) {
            grid-template-columns: 1fr;
            gap: variables.$spacing-small;
        }
    }


    &__head {
        &__titre-colonne {
            text-align: left;
        }
    }


    &__body {
        &__contenu-colonne {
            display: flex;
            flex-wrap: wrap;
            align-items: center;


            &--1 {
                padding-left: variables.$spacing-small;

                &:has(.icone--demande) {
                    border-left: 5px solid variables.$gold;
                }

                &:has(.icone--offre) {
                    border-left: 5px solid variables.$red;
                }

                @include mixins.media-max(1500px) {
                    grid-area: 1 / 1 / span 2 / span 1;
                }

                @include mixins.media-max(768px) {
                    grid-column: 1 / -1;
                    grid-row: auto;
                    margin-bottom: variables.$spacing-small;
                }
            }

            &--2 {
                @include mixins.media-max(1500px) {
                    grid-area: 1 / 2 / span 1 / span 1;
                }

                @include mixins.media-max(768px) {
                    grid-column: 1 / -1;
                    grid-row: auto;
                }
            }

            &--3 {
                @include mixins.media-max(1500px) {
                    grid-area: 2 / 2 / span 1 / span 1;
                }

                @include mixins.media-max(768px) {
                    grid-column: 1 / -1;
                    grid-row: auto;
                }
            }

            &--4 {
                .bouton--activer {
                    flex-basis: 50%;
                }

                @include mixins.media-max(1500px) {
                    grid-area: 1 / 3 / span 2 / span 1;

                    .bouton--activer {
                        flex-basis: unset;
                        width: 70%;
                    }
                }

                @include mixins.media-max(768px) {
                    grid-column: 1 / -1;
                    grid-row: auto;

                    .bouton--activer {
                        width: 40%;
                    }
                }
            }

            @include mixins.media-max(1500px) {

                @include mixins.flex(column, center, flex-start, variables.$spacing-xxsmall);

                &::before {
                    content: attr(data-title);
                    font-weight: variables.$bold;
                }
            }
        }

        .liste__rangee {
            border-bottom: 1px solid variables.$light-gray;
        }

        .icone {
            padding: 15px;
            border-radius: 12px;

            &--demande {
                background-color: variables.$light-gold;
                color: variables.$darker-gold;
            }

            &--offre {
                background-color: variables.$red;
                color: variables.$coral;
            }

            i {
                font-size: 20px;
            }
        }

        .poste {
            font-weight: variables.$bold;
        }
    }

    &__wrapper {
        &-horizontal {
            @include mixins.flex(row, center, center, variables.$spacing-small);
        }

        &-vertical {
            @include mixins.flex(column, null, flex-start, null);
        }

        &-boutons {
            @include mixins.flex(row, space-between, center, variables.$spacing-large);
            width: 100%;

            @include mixins.media-max(1500px) {
                @include mixins.flex(column, center, center, variables.$spacing-small);
            }

            @include mixins.media-max(768px) {
                @include mixins.flex(row, flex-start, center, variables.$spacing-medium);
            }
        }
    }
}

/* Spécifique aux tableau de 4 colonnes */

table.liste-5-colonnes {

    @include mixins.media-max(1400px) {
        thead {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            padding: 0;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            border: 0;
        }
    }

    .liste {

        &__rangee {
            grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;

            @include mixins.media-max(1580px) {
                grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
            }

            @include mixins.media-max(1400px) {
                grid-template-columns: 2fr 1.5fr 1.5fr;
                row-gap: variables.$spacing-small;

                &:first-child {
                    padding-top: 0;
                }
            }

            @include mixins.media-max(850px) {
                grid-template-columns: 2.5fr 1.5fr 1.5fr;
            }

            @include mixins.media-max(768px) {
                grid-template-columns: 1fr;
            }
        }


        &__body {
            &__contenu-colonne {
                &--1 {
                    @include mixins.media-max(1400px) {
                        grid-area: 1 / 1 / span 1 / span 1;
                    }
                }

                &--2 {
                    @include mixins.media-max(1400px) {
                        grid-area: 1 / 2 / span 1 / span 1;
                    }

                    @include mixins.media-max(768px) {
                        grid-column: 1 / -1;
                        grid-row: auto;
                    }
                }

                &--3 {
                    @include mixins.media-max(1400px) {
                        grid-area: 2 / 2 / span 1 / span 1;
                    }

                    @include mixins.media-max(768px) {
                        grid-column: 1 / -1;
                        grid-row: auto;
                    }
                }

                &--4 {
                    .bouton--activer {
                        flex-basis: 50%;
                    }

                    @include mixins.media-max(1400px) {
                        grid-area: 1 / 3 / span 1 / span 1;
                        grid-area: 2 / 3 / span 1 / span 1;
                    }

                    @include mixins.media-max(768px) {
                        grid-column: 1 / -1;
                        grid-row: auto;
                    }
                }

                &--5 {
                    @include mixins.media-max(1400px) {
                        grid-area: 1 / 3 / span 1 / span 1;
                    }

                    @include mixins.media-max(768px) {
                        grid-column: 1 / -1;
                        grid-row: auto;
                    }
                }

                @include mixins.media-max(1400px) {

                    @include mixins.flex(column, center, flex-start, variables.$spacing-xxsmall);

                    &::before {
                        content: attr(data-title);
                        font-weight: variables.$bold;
                    }
                }
            }
        }
    }
}

/* Spécifique à la condition isActive */

.icone-noir {
    color: black;
}  

.fond-gris-pale {
    background-color: rgb(177, 177, 177) !important;
}

.texte-rouge {
    color: red;
}