@use '../general/variables';
@use '../general/mixins';

.modal {

    @include mixins.flex(null, center, center, null);
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);

    &__contenu {
        @include mixins.flex(column, null, null, variables.$spacing-medium);
        background-color: variables.$white;
        width: 30%;
        margin: auto;
        padding: variables.$spacing-medium;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    &__boutons {
        @include mixins.flex(null, flex-end, center, variables.$spacing-small);
        margin-left: auto;
    }
}