$white: #FFFFFF;
$black: #111111;
$charcoal: #5E5E5E;
$gray: #707070;
$light-gray: #EEEEEE;
$magenta: #D51C53;
$gold: #CB912B;
$light-gold: #D6B477;
$dark-gold: #986D22;
$darker-gold: #70582F;
$pink: #F26689;
$red: #BB2026;
$dark-red: #821519;
$purple: #7F2987;
$dark-purple: #4A1150;
$blue: #86A9E6;
$dark-blue: #5E7EB5;
$orange: #F9A35E;
$turquoise : #0C9DA4;
$coral: #FF9FA3;
$green: #06A04A;
$light-green: #CDECDA;


$bouton-action-green: #06A14C;
$bouton-action-blue: #2E456D;
$bouton-action-red: #A20A07;

$border-input: #DDDFE1;


$font-body: 'Roboto';
$font-headings: 'Lato';
$font-headings-accueil: 'Lora',
serif;

/* Font-size responsive: https://utopia.fyi/type/calculator/?c=500,16,1.125,1920,18,1.2,5,0,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12  */

$font-style-p: 1rem;
$font-style-h1: clamp(1.802rem, 1.4509rem + 1.1237vi, 2.7994rem);
$font-style-h2: clamp(1.6018rem, 1.3444rem + 0.8237vi, 2.3328rem);
$font-style-h3: clamp(1.4238rem, 1.2407rem + 0.5861vi, 1.944rem);
$font-style-h4: clamp(1.2656rem, 1.1408rem + 0.3993vi, 1.62rem);
$font-style-h5: clamp(1.125rem, 1.0458rem + 0.2535vi, 1.35rem);
$font-style-h6: clamp(1rem, 0.956rem + 0.1408vi, 1.125rem);

$regular: 400;
$bold: 700;

$spacing-xxsmall: 0.25rem;
$spacing-xsmall: 0.5rem;
$spacing-small: 1rem;
$spacing-medium: 2rem;
$spacing-large: 3rem;
$spacing-xlarge: clamp(1.875rem, 0.7746rem + 3.5211vi, 5rem);

/* Espacements responsives: https://utopia.fyi/clamp/calculator/?a=500,1920,20%E2%80%94120|50%E2%80%94120 */
$spacing-block-section: clamp(3.125rem, 1.5845rem + 4.9296vi, 7.5rem);
$spacing-inline-section: clamp(1.25rem, -0.9507rem + 7.0423vi, 7.5rem);