$white: #FFFFFF;
$black: #111111;
$charcoal: #5E5E5E;
$gray: #707070;
$light-gray: #EEEEEE;
$magenta: #D51C53;
$gold: #CB912B;
$dark-gold: #986D22;
$red: #BB2026;
$dark-red: #821519;
$purple: #7F2987;
$dark-purple: #4A1150;
$blue: #86A9E6;
$dark-blue: #5E7EB5;
$orange: #F9A35E;
$turquoise : #0C9DA4;

$bouton-action-green: #06A14C;
$bouton-action-blue: #2E456D;
$bouton-action-red: #A20A07;

$border-input: #DDDFE1;


$font-body: 'Roboto';
$font-headings: 'Lato';

/* https://utopia.fyi/type/calculator?c=320,16,1.125,1920,18,1.2,5,0,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12  */
$font-style-p: 1rem;
$font-style-h1: clamp(1.802rem, 1.6026rem + 0.9973vi, 2.7994rem);
$font-style-h2: clamp(1.6018rem, 1.4556rem + 0.731vi, 2.3328rem);
$font-style-h3: clamp(1.4238rem, 1.3198rem + 0.5202vi, 1.944rem);
$font-style-h4: clamp(1.2656rem, 1.1948rem + 0.3544vi, 1.62rem);
$font-style-h5: clamp(1.125rem, 1.08rem + 0.225vi, 1.35rem);
$font-style-h6: clamp(1rem, 0.975rem + 0.125vi, 1.125rem);

$regular: 400;
$bold: 700;


$spacing-xsmall: 0.5rem;
$spacing-small: 1rem;
$spacing-medium: 2rem;
$spacing-large: 3rem;
$spacing-xlarge: clamp(1.875rem, 1.25rem + 3.125vi, 5rem);

/* https://utopia.fyi/clamp/calculator?a=320,1920,20%E2%80%94120|30%E2%80%9480*/
$spacing-block-section: clamp(1.875rem, 1.25rem + 3.125vi, 5rem);
$spacing-inline-section: clamp(1.25rem, 0rem + 6.25vi, 7.5rem);