@use '../general/variables';
@use '../general/mixins';

.app-container {
    min-height: 100vh;
}

.logo-container {
    background-color: variables.$white;
    width: 100%;
    padding: 20px;
}

.content-container {
    display: flex;
    width: 100%;
}

.half-page-image {
    width: 50%;
    height: auto;
    object-fit: cover;
}

.login-panel {
    width: 50%;
    @include mixins.flex(column, center, flex-start, 1rem);
    padding: 0 300px 0 3rem;

    .entete-login-panel {
        width: 100%;
        color: variables.$black;
        margin-bottom: 100px;

        h1 {
            @include mixins.font(variables.$font-headings-accueil, 70px, 400);

        }

        p {
            @include mixins.font(variables.$font-headings, null, null);
            padding: 1rem 0;
            line-height: 1.5;
            color: variables.$charcoal;
            max-width: 50ch;

        }

    }
}

.form-group {

    input {
        @include mixins.border(2px, variables.$turquoise, null);
    }
}

.bouton-acceuil {
    margin-top: 40px;
}

form {
    width: 100%;
}