@use '../general/variables';
@use '../general/mixins';

.accueil {
    &__logo {
        background-color: variables.$white;
        max-width: 100%;
        padding: 20px;

        img {
            max-width: 150px;
        }
    }

    &__contenu {
        @include mixins.grid(2, null);

        @include mixins.media-max(900px) {
            grid-template-columns: 1fr;
        }
    }

    &__image {
        background-image: url("../../assets/accueil.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        @include mixins.media-min(901px) {
            min-height: calc(100vh - 130px);
        }

        @include mixins.media-max(900px) {
            min-height: 40vh;
        }
    }
}

.login-panel {
    width: 100%;
    padding-block: variables.$spacing-block-section;
    padding-left: variables.$spacing-large * 1.5;
    padding-right: variables.$spacing-large * 5;

    @include mixins.media-max(1280px) {
        padding-inline: variables.$spacing-large !important;
    }

    @include mixins.media-max(900px) {
        padding-inline: variables.$spacing-inline-section !important;
    }

    &__entete {
        width: 100%;
        color: variables.$black;
        margin-bottom: variables.$spacing-block-section;

        h1 {
            @include mixins.font(variables.$font-headings-accueil, variables.$font-style-h1-accueil, 400);
        }

        p {
            @include mixins.font(variables.$font-headings, null, null);
            padding: variables.$spacing-small 0;
            line-height: 1.5;
            color: variables.$charcoal;
            max-width: 50ch;
        }
    }

    form {
        width: 100%;
    }
}

.form-identification {
    input {
        @include mixins.border(2px, variables.$turquoise, null);
    }
}