//  _candidats.scss
@use '../general/variables';
@use '../general/mixins';


/* Général à plusieurs views de candidats */


#ajout-candidat,
#edition-candidat {
    @include mixins.flex(column, null, flex-end, variables.$spacing-medium);
}

.formulaire-ajout-candidat,
.formulaire-edition-candidat,
.fiche-candidat-details {
    .form-fiche {
        &__wrapper-titre {
            border-color: variables.$purple;
        }
    }
}

/* Spécifique pour la view Candidats */

.candidats {
    h1 {
        margin-bottom: variables.$spacing-xlarge;
    }

    .bouton {
        &--mauve {
            margin-bottom: variables.$spacing-xlarge;
        }
    }

    &__liste {
        @include mixins.grid(3, variables.$spacing-medium * 1.5);

        @include mixins.media-max(1680px) {
            @include mixins.grid(2, variables.$spacing-medium);
        }

        @include mixins.media-max(1200px) {
            gap: variables.$spacing-medium;
        }

        @include mixins.media-max(1000px) {
            grid-template-columns: 1fr;
        }
    }

}

/* Spécifique pour la view CandidatAjout */

.formulaire-ajout-candidat {

    .form-fiche {
        &__wrapper-titre {
            margin-bottom: variables.$spacing-large * 4;

            @include mixins.media-max(1380px) {
                margin-bottom: variables.$spacing-large;
            }
        }

        &__label-input-horizontal {

            label {

                @include mixins.media-max(1760px) {
                    flex-basis: 15%;
                }

                @include mixins.media-max(1200px) {
                    flex-basis: 20%;
                }

                @include mixins.media-max(1000px) {
                    flex-basis: 25%;
                }

                @include mixins.media-max(900px) {
                    flex-basis: unset;
                }
            }
        }
    }


    h2,
    h3 {
        color: variables.$turquoise;
    }
}

/* Spécifique pour la view CandidatDetails */

.fiche-candidat-details {
    .form-fiche {
        &__wrapper-titre {

            @include mixins.media-max(900px) {
                margin-bottom: variables.$spacing-large;
            }

        }
    }
}

/* Spécifique pour la view CandidatDetails et CandidatMiseAJour */

.fiche-candidat-details,
.formulaire-edition-candidat {

    h1 {
        margin-bottom: variables.$spacing-small;
    }

    h2,
    h3 {
        color: variables.$purple;
    }
}