//  _demandes-stages.scss
@use '../general/variables';
@use '../general/mixins';

#ajout-demandestages,
#edition-demandestages {
    @include mixins.flex(column, null, flex-end, variables.$spacing-medium);
}

.formulaire-ajout-demandestages,
.formulaire-edition-demandestages,
.fiche-demandestages-details {
    .form-fiche {
        &__wrapper-titre {
            border-color: variables.$gold;
        }
    }

    h2,
    h3 {
        color: variables.$turquoise;
    }
}

.listeStages{
    background-color: variables.$white ;
    border-radius: 10px;
    padding: 80px;
    margin-top: 40px;

}

.pageContainer{
    h1{
       padding: 3rem 0 3rem 0 ; 
    }
}

/* style pour la page de demande de stage (la liste de toutes les demandes) */

.demandestages-list {
    h1 {
        margin-bottom: variables.$spacing-xlarge;
    }

    .bouton {
        &--gold {
            margin-bottom: variables.$spacing-xlarge;
        }
    } 

    &__liste {
        @include mixins.grid(3, variables.$spacing-large);
    }

}