//  _demandes-stages.scss
@use '../general/variables';
@use '../general/mixins';

#ajout-demandestages,
#edition-demandestages {
    @include mixins.flex(column, null, flex-end, variables.$spacing-medium);
}

.formulaire-ajout-demandestages,
.formulaire-edition-demandestages,
.fiche-demandestages-details {
    .form-fiche {
        &__wrapper-titre {
            border-color: variables.$gold;
        }
    }

    h2,
    h3 {
        color: variables.$turquoise;
    }
}

.listeStages {
    background-color: variables.$white;
    border-radius: 10px;
    padding: 80px;
    /* margin-top: 40px; */

}

.pageContainer {
    h1 {
        padding: 3rem 0 3rem 0;
    }
}

/* style pour la page de demande de stage (la liste de toutes les demandes) */

.demandestages-list {
    h1 {
        margin-bottom: variables.$spacing-xlarge;
    }

    .bouton {
        &--jaune {
            margin-bottom: variables.$spacing-xlarge;
        }
    }

}

/* Spécifique pour la page d'ajout de demandes */

/* .formulaire-ajout-demandestages {
    .form-fiche__wrapper-titre {
        margin-bottom: variables.$spacing-block-section;
    }

    .boutons {
        justify-content: flex-end;
        margin-bottom: variables.$spacing-medium;
    }
} */

#ajout-demandestages {
    .form-fiche {
        &__input-parcourir {
            width: 50%;
        }

        &__label-input-horizontal {
            label {
                flex-basis: 5%;

                @include mixins.media-max(1380px) {
                    flex-basis: 10%;
                }

                @include mixins.media-max(900px) {
                    flex-basis: unset;
                }
            }
        }

        &__input-parcourir {
            @include mixins.media-max(1380px) {
                width: 60%;
            }

            @include mixins.media-max(900px) {
                width: 100%;
            }
        }
    }

}