// _entreprises.scss
@use '../general/variables';
@use '../general/mixins';


/* Général à plusieurs views d'entreprises */

#edition-entreprise,
#ajout-entreprise {
    @include mixins.flex(column, null, flex-end, variables.$spacing-large*3);

    @include mixins.media-max(900px) {
        @include mixins.flex(column, null, flex-end, variables.$spacing-large);
    }
}

.formulaire-ajout-entreprise,
.fiche-entreprise-details {
    .form-fiche {
        &__wrapper-titre {
            border-color: variables.$blue;
        }
    }
}

.entreprise-logo {
    max-width: 150px;
    width: 70%;
}

.formulaire-ajout-entreprise,
.fiche-entreprise-details,
.formulaire-edition-entreprise {

    h2,
    h3 {
        color: variables.$blue;
    }
}



/* Spécifique pour la view Entreprises */

.entreprises {
    h1 {
        margin-bottom: variables.$spacing-xlarge;
        color: variables.$gray;
    }

    &__liste {
        @include mixins.grid(2, variables.$spacing-large);

        @include mixins.media-max(1680px) {
            @include mixins.grid(2, variables.$spacing-medium);
        }

        @include mixins.media-max(768px) {
            @include mixins.grid(1, null);
        }

        a {
            text-decoration: none; // Enlever lors de l'uniformisation avec la carte Candidat?????
        }
    }

    .bouton {
        &--bleu {
            display: inline-block; // Enlever lors de l'uniformisation avec la carte Candidat?????
            text-decoration: none; // Enlever lors de l'uniformisation avec la carte Candidat?????
            font-family: variables.$font-headings; // Enlever lors de l'uniformisation avec la carte Candidat?????
            color: variables.$bouton-action-blue;
            margin-bottom: variables.$spacing-large;
        }
    }

}

/* Spécifique pour la view EntrepriseAjout */

.formulaire-ajout-entreprise {

    .form-fiche {
        &__input-parcourir {
            flex-basis: 100%;
        }
    }
}

/* Spécifique pour la view EntrepriseDetail et EntrepriseMiseAJour */

.fiche-entreprise-details,
.formulaire-edition-entreprise {

    .form-fiche {
        &__wrapper-titre-logo {
            @include mixins.flex(row, flex-start, center, variables.$spacing-medium);

            @include mixins.media-max(900px) {

                @include mixins.flex(column, null, flex-start, variables.$spacing-medium);

                .entreprise-logo {
                    max-width: 100px;
                }

                h1 {
                    margin-bottom: 0;
                }

                margin-bottom: variables.$spacing-large;
            }
        }

        &__wrapper-titre {
            border-color: variables.$blue;
        }
    }
}

/* Spécifique pour la view EntrepriseDetail */


.nom-contact {
    @include mixins.font(null, variables.$font-style-h4, variables.$bold)
}

/* Spécifique pour la view EntrepriseMiseAJour */

#edition-entreprise {

    .form-fiche {
        &__label-input-horizontal {

            label {
                flex-basis: 15%;
            }
        }

        &__input-parcourir {
            flex-basis: 100%;
        }
    }
}