// _entreprises.scss
@use '../general/variables';
@use '../general/mixins';


/* Général à plusieurs views d'entreprises */

.form-fiche {
    &__wrapper-titre {
        border-color: variables.$blue;
    }
}

#ajout-entreprise,
#edition-entreprise,
.form-fiche__wrapper-boutons-encadre {
    @include mixins.flex(column, null, flex-end, variables.$spacing-medium);
}



/* Spécifique pour la view Entreprises */

.entreprises {
    h1 {
        margin-bottom: variables.$spacing-xlarge;
    }

    .bouton {
        &--blue {
            margin-bottom: variables.$spacing-xlarge;
        }
    }

    &__liste {
        @include mixins.grid(3, variables.$spacing-large);
    }

}

/* Spécifique pour la view EntrepriseAjout */

.formulaire-ajout-entreprise {

    .form-fiche__wrapper-titre {
        margin-bottom: variables.$spacing-large * 4;
    }

    h2,
    h3 {
        color: variables.$blue;
    }
}


/* Spécifique pour la view EntrepriseDetail et EntrepriseMiseAJour */

.fiche-entreprise-details,
.formulaire-edition-entreprise {

    h2,
    h3 {
        color: variables.$blue;
    }
}