// _entreprises.scss
@use '../general/variables';
@use '../general/mixins';


/* Général à plusieurs views d'entreprises */

#ajout-entreprise,
#edition-entreprise {
    @include mixins.flex(column, null, flex-end, variables.$spacing-medium);
}

.formulaire-ajout-entreprise {
    .form-fiche {
        &__wrapper-titre {
            border-color: variables.$blue;
        }
    }
}

/* Spécifique pour la view Entreprises */

.entreprises {
    h1 {
        margin-bottom: variables.$spacing-xlarge;
        color: variables.$gray;
    }

    &__liste {
        @include mixins.grid(2, variables.$spacing-large);

        a {
            text-decoration: none; // Enlever lors de l'uniformisation avec la carte Candidat?????
        }
    }

    .bouton {
        &--bleu {
            display: inline-block; // Enlever lors de l'uniformisation avec la carte Candidat?????
            text-decoration: none; // Enlever lors de l'uniformisation avec la carte Candidat?????
            font-family: variables.$font-headings; // Enlever lors de l'uniformisation avec la carte Candidat?????
            color: variables.$bouton-action-blue;
            margin-bottom: variables.$spacing-large;
        }
    }

}

/* Spécifique pour la view EntrepriseAjout */

.formulaire-ajout-entreprise {

    .form-fiche__wrapper-titre {
        margin-bottom: variables.$spacing-large * 4;
    }

    h2,
    h3 {
        color: variables.$blue;
    }
}


/* Spécifique pour la view EntrepriseDetail et EntrepriseMiseAJour */

.fiche-entreprise-details,
.formulaire-edition-entreprise {

    h2,
    h3 {
        color: variables.$blue;
    }
}