@use '../general/variables';
@use '../general/mixins';

%pastilles-info-rapide {
    @include mixins.flex(row, flex-start, center, 1rem);
    border-radius: 10px;
    padding: variables.$spacing-medium;
    position: relative;
}

%pastilles-info-rapide-before {
    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 10%;
        border-radius: 0 10px 10px 0;
    }
}

.tableau-bord {

    @include mixins.flex(column, null, null, variables.$spacing-xlarge);

    &__info-rapide {
        @include mixins.grid(3, variables.$spacing-small);
        color: variables.$white;

        .chiffre {
            @include mixins.font(null, variables.$font-style-h1, variables.$bold);
            margin-top: variables.$spacing-xsmall;
        }

        &-demandes {
            background-color: variables.$gold;
            @extend %pastilles-info-rapide;

            &::before {
                background-color: variables.$dark-gold;
                @extend %pastilles-info-rapide-before;
            }
        }

        &-offres {
            background-color: variables.$red;
            @extend %pastilles-info-rapide;

            &::before {
                background-color: variables.$dark-red;
                @extend %pastilles-info-rapide-before;
            }
        }

        &-candidats-entreprises {

            @include mixins.grid(2, null);

            .bulle-candidat {
                padding-right: variables.$spacing-small;
            }

            .bulle-entreprise {
                padding-left: variables.$spacing-small;
            }
        }


        &-candidats {
            background-color: variables.$purple;

            @extend %pastilles-info-rapide;
            border-radius: 10px 0 0 10px;


            &::before {
                background-color: variables.$dark-purple;
                @extend %pastilles-info-rapide-before;
                border-radius: 0;

            }
        }

        &-entreprises {
            @extend %pastilles-info-rapide;
            background-color: variables.$blue;
            border-radius: 0 10px 10px 0;

            &::before {
                @extend %pastilles-info-rapide-before;
                left: 0;
                background-color: variables.$dark-blue;
                border-radius: 0;

            }
        }
    }

    &__icone-info-rapide {
        font-size: variables.$font-style-h1;
    }


    &__entete-dernieres-demandes,
    &__entete-dernieres-offres {
        @include mixins.flex(row, space-between, center, null);

        h2 {
            margin-bottom: variables.$spacing-xsmall;
        }

        p {
            color: variables.$red;
            @include mixins.font(variables.$font-body, null, null);
        }
    }

    &__entete-dernieres-demandes {
        span {
            color: variables.$gold;
        }
    }

    &__entete-dernieres-offres {
        span {
            color: variables.$red;
        }
    }
}