@charset "UTF-8";
/* https://utopia.fyi/type/calculator?c=320,16,1.125,1920,18,1.2,5,0,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12  */
/* https://utopia.fyi/clamp/calculator?a=320,1920,20%E2%80%94120|30%E2%80%9480*/
.bouton {
  color: #FFFFFF;
  font-weight: 700;
  padding-block: 1rem;
  padding-inline: 1rem;
  border-width: 0;
  border-style: solid;
  border-color: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: -moz-fit-content;
  width: fit-content;
}
.bouton--transparent {
  font-weight: 400;
  background-color: #EEEEEE;
  color: #707070;
  border-width: 1px;
  border-style: solid;
  border-color: #707070;
}
.bouton--transparent:hover {
  background-color: #e1e1e1;
}
.bouton--mauve {
  background-color: #7F2987;
}
.bouton--mauve:hover {
  background-color: #6d2373;
}
.bouton--bleu {
  background-color: #86A9E6;
}
.bouton--bleu:hover {
  background-color: #719ae2;
}
.bouton--rouge {
  background-color: #A20A07;
}
.bouton--rouge:hover {
  background-color: #8a0806;
}
.bouton--vert {
  background-color: #06A14C;
}
.bouton--vert:hover {
  background-color: #058840;
}
.bouton--turquoise {
  background-color: #0C9DA4;
}
.bouton--turquoise:hover {
  background-color: #0a868c;
}

.boutons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.icone-libelle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.boutons-action {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.boutons-action button {
  border-width: 0;
}
.boutons-action i {
  font-size: 1.3rem;
}
.boutons-action__crochet {
  color: #06A14C;
}
.boutons-action__crochet:hover {
  color: #058840;
}
.boutons-action__modifier {
  color: #2E456D;
}
.boutons-action__modifier:hover {
  color: #263a5b;
}
.boutons-action__supprimer {
  color: #A20A07;
}
.boutons-action__supprimer:hover {
  color: #8a0806;
}

.carte-candidat {
  background-color: #FFFFFF;
  padding-block: 2rem;
  padding-inline: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.carte-candidat__img {
  background-color: #7F2987;
  padding-block: 1rem;
  padding-inline: 1rem;
}
.carte-candidat__texte {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.carte-candidat__texte h2 {
  font-size: clamp(1.2656rem, 1.1948rem + 0.3544vi, 1.62rem);
  color: #111111;
}
.carte-candidat__texte p {
  font-family: "Lato";
}

.carte-entreprise {
  background-color: #FFFFFF;
  align-items: center;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding-block: 3rem;
  padding-inline: 2rem;
  /*  &__img {
       min-width: 150px;
       max-width: 70%;
       margin-inline: auto;
   } */
}
.carte-entreprise__texte {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.carte-entreprise__texte h2 {
  font-size: clamp(1.2656rem, 1.1948rem + 0.3544vi, 1.62rem);
  color: #111111;
  margin-bottom: 0.5rem;
}
.carte-entreprise__texte p {
  font-family: "Roboto";
  color: #707070;
}

.form-fiche__label-input-vertical h4, label, input:not([type=radio]),
textarea,
select {
  font-family: "Lato";
}

.form-fiche__label-input-vertical h4, .form-fiche__wrapper-titre-groupe-inputs h3 {
  font-size: clamp(1rem, 0.975rem + 0.125vi, 1.125rem);
}

input:not([type=radio]),
textarea,
select {
  width: 100%;
  padding: 1rem;
  border-width: 1px;
  border-style: solid;
  border-color: #DDDFE1;
  border-radius: 0;
  box-shadow: inset 0 0 10px 1px rgba(238, 238, 238, 0.5294117647);
  color: #707070;
  font-size: 1rem;
}

label {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.1;
}

.form-fiche__wrapper-titre {
  border-left-width: 8px;
  border-left-style: solid;
  padding-left: 1rem;
}
.form-fiche__wrapper-titre h1 {
  margin-bottom: 1.5rem;
}
.form-fiche__nom-section {
  font-weight: 700;
}
.form-fiche__sous-titre {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem;
  background-color: #FFFFFF;
  font-family: "Lato";
  font-size: clamp(1.125rem, 1.08rem + 0.225vi, 1.35rem);
  font-weight: 700;
  line-height: 1.1;
}
.form-fiche__input-hors-encadre {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form-fiche__wrapper-boutons-encadre, .form-fiche__wrapper-boutons-inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
  width: 100%;
}
.form-fiche__encadre {
  width: 100%;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  border-width: 0;
  border-style: solid;
  border-radius: 10px;
  padding-block: clamp(1.875rem, 1.25rem + 3.125vi, 5rem);
  padding-inline: 3rem;
}
.form-fiche__wrapper-titre-groupe-inputs {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.form-fiche__colonnes-inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.form-fiche__colonne-inputs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.form-fiche__label-input-horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.form-fiche__label-input-horizontal label {
  flex-basis: 5%;
}
.form-fiche__label-input-vertical {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-left-width: 8px;
  border-left-style: solid;
  border-left-color: #5E5E5E;
  padding-left: 1rem;
}
.form-fiche__label-input-demi {
  width: calc(50% - 1rem);
}
.form-fiche__label--cache {
  display: none;
}
.form-fiche__label-radio-input {
  padding-left: 0.5rem;
  font-weight: 400;
}
.form-fiche__wrapper-input-msg-erreur {
  width: 100%;
}
.form-fiche__input-parcourir {
  position: relative;
}
.form-fiche__input-parcourir button:disabled {
  position: absolute;
  right: 0;
  height: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #DDDFE1;
  border-radius: 0;
  padding-inline: 2rem;
  font-family: "Lato";
  color: #ABAFB3;
  background-color: #EFF0F1;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal__contenu {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #FFFFFF;
  width: 30%;
  margin: auto;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.modal__boutons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  margin-left: auto;
}

.header {
  background-color: #FFFFFF;
  padding: 1rem 0;
  margin-left: 0.5rem;
}
.header__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.header__icone-boutons-ajout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.header__icone-boutons-ajout #icone-menu {
  padding: 0 3rem 0 1rem;
}

.nav-items,
.boutons-ajout {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
}
.nav-items .fa-plus,
.boutons-ajout .fa-plus {
  padding-right: 0.5rem;
}
.nav-items .add-offer,
.boutons-ajout .add-offer {
  padding-block: 0.5rem;
  padding-inline: 0.5rem;
  border-style: solid;
  border-color: #821519;
  border-radius: 0.5rem;
  font-family: "Roboto";
  line-height: 1.1;
  background-color: #FFFFFF;
  color: #BB2026;
  transition: background-color 0.3s ease;
}
.nav-items .add-offer:hover,
.boutons-ajout .add-offer:hover {
  background-color: #821519;
  color: #FFFFFF;
}
.nav-items .add-request,
.boutons-ajout .add-request {
  padding: 0.5rem;
  background-color: #FFFFFF;
  color: #CB912B;
  border-style: solid;
  border-color: #986D22;
  border-radius: 0.5rem;
  font-family: "Roboto";
  line-height: 1.1;
  transition: background-color 0.3s ease;
}
.nav-items .add-request:hover,
.boutons-ajout .add-request:hover {
  background-color: #986D22;
  color: #FFFFFF;
}
.nav-items .add-company,
.boutons-ajout .add-company {
  padding: 0.5rem;
  background-color: #FFFFFF;
  color: #5E7EB5;
  border-style: solid;
  border-color: #86A9E6;
  border-radius: 0.5rem;
  font-family: "Roboto";
  line-height: 1.1;
  transition: background-color 0.3s ease;
}
.nav-items .add-company:hover,
.boutons-ajout .add-company:hover {
  background-color: #5E7EB5;
  color: #FFFFFF;
}
.nav-items .add-candidate,
.boutons-ajout .add-candidate {
  padding: 0.5rem;
  background-color: #FFFFFF;
  color: #7F2987;
  border-style: solid;
  border-color: #4A1150;
  border-radius: 0.5rem;
  font-family: "Roboto";
  line-height: 1.1;
  transition: background-color 0.3s ease;
}
.nav-items .add-candidate:hover,
.boutons-ajout .add-candidate:hover {
  background-color: #4A1150;
  color: #FFFFFF;
}

.utilisateur {
  padding: 0 1rem 0 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
.utilisateur .utilisateur__details {
  text-align: right;
  font-family: "Roboto";
  line-height: 1.1;
}
.utilisateur .utilisateur__nom {
  color: #111111;
}
.utilisateur .utilisateur__courriel {
  color: #CCD4E0;
}

.container-menu {
  background-color: #FFFFFF;
  min-width: 250px;
  height: 100%;
}

.logo {
  max-width: 150px;
  padding: 1rem;
}

.navbar__menu {
  list-style: none;
  padding: 1rem 0 1rem 1rem;
}
.navbar__menu-item {
  position: relative;
}
.navbar__menu-item a {
  text-decoration: none;
  font-family: "Roboto";
  line-height: 1.1;
}
.navbar__menu-item i {
  margin: 1rem;
  width: 18px;
  height: auto;
  text-align: left;
}
.navbar__menu-item::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 5px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}
.navbar__menu-item.active::after {
  background-color: transparent;
}
.navbar__menu-item.tableau-de-bord:hover::after, .navbar__menu-item.tableau-de-bord.active::after {
  background-color: #0C9DA4;
}
.navbar__menu-item.demandes-stage:hover::after, .navbar__menu-item.demandes-stage.active::after {
  background-color: #CB912B;
}
.navbar__menu-item.offres-stage:hover::after, .navbar__menu-item.offres-stage.active::after {
  background-color: #BB2026;
}
.navbar__menu-item.candidats:hover::after, .navbar__menu-item.candidats.active::after {
  background-color: #7F2987;
}
.navbar__menu-item.entreprises:hover::after, .navbar__menu-item.entreprises.active::after {
  background-color: #86A9E6;
}
.navbar__menu-item > .line-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 5px;
  background-color: transparent;
}
.navbar__menu-item.tableau-de-bord i,
.navbar__menu-item.tableau-de-bord span {
  color: #0C9DA4;
}
.navbar__menu-item.tableau-de-bord i:hover,
.navbar__menu-item.tableau-de-bord span:hover {
  color: #0a868c;
}
.navbar__menu-item.demandes-stage i,
.navbar__menu-item.demandes-stage span {
  color: #CB912B;
}
.navbar__menu-item.demandes-stage i:hover,
.navbar__menu-item.demandes-stage span:hover {
  color: #b68227;
}
.navbar__menu-item.offres-stage i,
.navbar__menu-item.offres-stage span {
  color: #BB2026;
}
.navbar__menu-item.offres-stage i:hover,
.navbar__menu-item.offres-stage span:hover {
  color: #a51c22;
}
.navbar__menu-item.candidats i,
.navbar__menu-item.candidats span {
  color: #7F2987;
}
.navbar__menu-item.candidats i:hover,
.navbar__menu-item.candidats span:hover {
  color: #6d2373;
}
.navbar__menu-item.entreprises i,
.navbar__menu-item.entreprises span {
  color: #86A9E6;
}
.navbar__menu-item.entreprises i:hover,
.navbar__menu-item.entreprises span:hover {
  color: #719ae2;
}

/* Général à plusieurs views de candidats */
#ajout-candidat,
#edition-candidat {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
}

.formulaire-ajout-candidat .form-fiche__wrapper-titre,
.formulaire-edition-candidat .form-fiche__wrapper-titre,
.fiche-candidat-details .form-fiche__wrapper-titre {
  border-color: #7F2987;
}

/* Spécifique pour la view Candidats */
.candidats h1 {
  margin-bottom: clamp(1.875rem, 1.25rem + 3.125vi, 5rem);
}
.candidats .bouton--mauve {
  margin-bottom: clamp(1.875rem, 1.25rem + 3.125vi, 5rem);
}
.candidats__liste {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

/* Spécifique pour la view CandidatAjout */
.formulaire-ajout-candidat .form-fiche__wrapper-titre {
  margin-bottom: 12rem;
}
.formulaire-ajout-candidat h2,
.formulaire-ajout-candidat h3 {
  color: #0C9DA4;
}

/* Spécifique pour la view CandidatDetails */
/* .fiche-candidat-details {
    .form-fiche {
        &__wrapper-boutons-encadre {
            @include mixins.flex(column, null, flex-end, variables.$spacing-medium);
        }
    }
} */
/* Spécifique pour la view CandidatDetails et CandidatMiseAJour */
.fiche-candidat-details h2,
.fiche-candidat-details h3,
.formulaire-edition-candidat h2,
.formulaire-edition-candidat h3 {
  color: #7F2987;
}

/* Général à plusieurs views d'entreprises */
#ajout-entreprise {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
}

#edition-entreprise {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 9rem;
}

.formulaire-ajout-entreprise .form-fiche__wrapper-titre,
.fiche-entreprise-details .form-fiche__wrapper-titre {
  border-color: #86A9E6;
}

.entreprise-logo {
  max-width: 150px;
  /* À valider si on garde ou pas quand on sera rendu au responsive */
  width: 70%;
}

.formulaire-ajout-entreprise h2,
.formulaire-ajout-entreprise h3,
.fiche-entreprise-details h2,
.fiche-entreprise-details h3,
.formulaire-edition-entreprise h2,
.formulaire-edition-entreprise h3 {
  color: #86A9E6;
}

/* Spécifique pour la view Entreprises */
.entreprises h1 {
  margin-bottom: clamp(1.875rem, 1.25rem + 3.125vi, 5rem);
  color: #707070;
}
.entreprises__liste {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}
.entreprises__liste a {
  text-decoration: none;
}
.entreprises .bouton--bleu {
  display: inline-block;
  text-decoration: none;
  font-family: "Lato";
  color: #2E456D;
  margin-bottom: 3rem;
}

/* Spécifique pour la view EntrepriseAjout */
.formulaire-ajout-entreprise {
  /*   h2,
  h3 {
      color: variables.$blue;
  } */
}
.formulaire-ajout-entreprise .form-fiche__wrapper-titre {
  margin-bottom: 12rem;
}

/* Spécifique pour la view EntrepriseDetail et EntrepriseMiseAJour */
.fiche-entreprise-details,
.formulaire-edition-entreprise {
  /*   h2,
  h3 {
      color: variables.$blue;
  } */
}
.fiche-entreprise-details .form-fiche__wrapper-titre-logo,
.formulaire-edition-entreprise .form-fiche__wrapper-titre-logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}
.fiche-entreprise-details .form-fiche__wrapper-titre,
.formulaire-edition-entreprise .form-fiche__wrapper-titre {
  border-color: #86A9E6;
}

/* Spécifique pour la view EntrepriseDetail */
.nom-contact {
  font-size: clamp(1.2656rem, 1.1948rem + 0.3544vi, 1.62rem);
  font-weight: 700;
  line-height: 1.1;
}

/* Spécifique pour la view EntrepriseMiseAJour */
#edition-entreprise .form-fiche__label-input-horizontal label {
  flex-basis: 15%;
}

#ajout-demandestages,
#edition-demandestages {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
}

.formulaire-ajout-demandestages .form-fiche__wrapper-titre,
.formulaire-edition-demandestages .form-fiche__wrapper-titre,
.fiche-demandestages-details .form-fiche__wrapper-titre {
  border-color: #CB912B;
}
.formulaire-ajout-demandestages h2,
.formulaire-ajout-demandestages h3,
.formulaire-edition-demandestages h2,
.formulaire-edition-demandestages h3,
.fiche-demandestages-details h2,
.fiche-demandestages-details h3 {
  color: #0C9DA4;
}

.fiche-offrestages-details .form-fiche__wrapper-titre {
  border-color: #BB2026;
}
.fiche-offrestages-details h2,
.fiche-offrestages-details h3 {
  color: #BB2026;
}

.app-container {
  min-height: 100vh;
}

.logo-container {
  background-color: #FFFFFF;
  width: 100%;
  padding: 20px 0;
}

.content-container {
  display: flex;
  width: 100%;
}

.half-page-image {
  width: 50%;
  height: auto;
}

.login-panel {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  padding: 0 300px 0 3rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.login-panel .entete-login-panel {
  width: 100%;
  color: #111111;
  margin-bottom: 100px;
}
.login-panel .entete-login-panel h1 {
  font-family: "Lora", serif;
  font-size: 70px;
  font-weight: 400;
  line-height: 1.1;
}
.login-panel .entete-login-panel p {
  font-family: "Lato";
  line-height: 1.1;
  padding: 1rem 0;
}

.form-group input {
  border-style: solid;
  border-color: #0C9DA4;
}

.bouton-acceuil {
  margin-top: 40px;
}

form {
  width: 100%;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding-block: clamp(1.875rem, 1.25rem + 3.125vi, 5rem);
  padding-inline: clamp(1.25rem, 0rem + 6.25vi, 7.5rem);
}

.wrapper-sidebar-main-content {
  display: flex;
  flex-direction: row;
}

.wrapper-main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html,
button {
  font-size: 18px;
}

.no-margin, p, .headings, h1,
h2,
h3 {
  margin-block: 0;
}

body {
  margin: 0;
  background-color: #EEEEEE;
  color: #707070;
}

.headings, h1,
h2,
h3 {
  font-family: "Lato";
  font-weight: 700;
}

p {
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1;
}

h1 {
  font-size: clamp(1.802rem, 1.6026rem + 0.9973vi, 2.7994rem);
}

h2 {
  font-size: clamp(1.6018rem, 1.4556rem + 0.731vi, 2.3328rem);
}

h3 {
  font-size: clamp(1.4238rem, 1.3198rem + 0.5202vi, 1.944rem);
}

a,
button {
  cursor: pointer;
}