@charset "UTF-8";
/* Font-size responsive: https://utopia.fyi/type/calculator/?c=500,16,1.125,1920,18,1.2,5,0,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12  */
/* Espacements responsives: https://utopia.fyi/clamp/calculator/?a=500,1920,20%E2%80%94120|50%E2%80%94120 */
/* Media queries */
.bouton {
  color: #FFFFFF;
  font-weight: 700;
  padding-block: 1rem;
  padding-inline: 1rem;
  border-width: 0;
  border-style: solid;
  border-color: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: -moz-fit-content;
  width: fit-content;
}
.bouton--transparent {
  font-weight: 400;
  background-color: #EEEEEE;
  color: #707070;
  border-width: 1px;
  border-style: solid;
  border-color: #707070;
}
.bouton--transparent:hover {
  background-color: #e1e1e1;
}
.bouton--mauve {
  background-color: #7F2987;
}
.bouton--mauve:hover {
  background-color: #6d2373;
}
.bouton--bleu {
  background-color: #86A9E6;
}
.bouton--bleu:hover {
  background-color: #719ae2;
}
.bouton--rougeOffre {
  background-color: #BB2026;
}
.bouton--rougeOffre:hover {
  background-color: #a51c22;
}
.bouton--jaune {
  background-color: #CB912B;
}
.bouton--jaune:hover {
  background-color: #b68227;
}
.bouton--rouge {
  background-color: #A20A07;
}
.bouton--rouge:hover {
  background-color: #8a0806;
}
.bouton--vert {
  background-color: #06A14C;
}
.bouton--vert:hover {
  background-color: #058840;
}
.bouton--turquoise {
  background-color: #0C9DA4;
}
.bouton--turquoise:hover {
  background-color: #0a868c;
}
.bouton--cv {
  font-size: clamp(1.125rem, 1.0458rem + 0.2535vi, 1.35rem);
}
.bouton--activer {
  background-color: #CDECDA;
  color: #06A04A;
  padding: 0.5rem;
  text-align: center;
  font-family: "Lato";
  font-size: 15px;
  font-weight: 400;
  line-height: 1.1;
}
.bouton--activer:hover {
  background-color: #a8debf;
}

.boutons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.icone-libelle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.boutons-action {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.boutons-action button {
  border-width: 0;
  background: none;
}
.boutons-action i {
  font-size: 1.3rem;
}
.boutons-action__crochet {
  color: #06A14C;
}
.boutons-action__crochet:hover {
  color: #058840;
}
.boutons-action__modifier {
  color: #2E456D;
}
.boutons-action__modifier:hover {
  color: #263a5b;
}
.boutons-action__supprimer {
  color: #A20A07;
}
.boutons-action__supprimer:hover {
  color: #8a0806;
}
.boutons-action-liste i {
  font-size: 20px;
}
.boutons-action-liste__consulter {
  color: #0C9DA4;
}
.boutons-action-liste__consulter:hover {
  color: #0a868c;
}
.boutons-action-liste__modifier {
  color: #F9A35E;
}
.boutons-action-liste__modifier:hover {
  color: #f89545;
}
.boutons-action-liste__supprimer {
  color: #F26689;
}
.boutons-action-liste__supprimer:hover {
  color: #f04e77;
}

.carte-candidat {
  background-color: #FFFFFF;
  padding-block: 2rem;
  padding-inline: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}
.carte-candidat__img {
  background-color: #7F2987;
  padding-block: 1rem;
  padding-inline: 1rem;
}
.carte-candidat__texte {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.carte-candidat__texte h2 {
  font-size: clamp(1.2656rem, 1.1408rem + 0.3993vi, 1.62rem);
  color: #111111;
}
.carte-candidat__texte p {
  font-family: "Lato";
}

.carte-entreprise {
  background-color: #FFFFFF;
  align-items: center;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding-block: 3rem;
  padding-inline: 2rem;
  cursor: pointer;
  /*  &__img {
       min-width: 150px;
       max-width: 70%;
       margin-inline: auto;
   } */
}
.carte-entreprise__texte {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.carte-entreprise__texte h2 {
  font-size: clamp(1.2656rem, 1.1408rem + 0.3993vi, 1.62rem);
  color: #111111;
  margin-bottom: 0.5rem;
}
.carte-entreprise__texte p {
  font-family: "Roboto";
  color: #707070;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-family: "Roboto";
}
table th {
  font-size: 15px;
  color: #707070;
  font-family: "Roboto";
  font-weight: bold;
  line-height: 1.1;
  padding-bottom: 0.5rem;
  position: relative;
}
table th::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 5px;
  background-color: #707070;
}
table td {
  font-size: 16px;
  color: #111111;
}
@media (max-width: 1000px) {
  table thead {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
}

.liste__rangee {
  display: grid;
  grid-template-columns: 2fr 1.5fr 1fr 2fr;
  gap: 2rem;
  width: 100%;
}
.liste__rangee:not(:has(th)) {
  padding-block: 2rem;
}
@media (max-width: 1000px) {
  .liste__rangee {
    grid-template-columns: 2fr 1fr 2fr;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    row-gap: 1rem;
  }
  .liste__rangee:first-child {
    padding-top: 0;
  }
}
@media (max-width: 800px) {
  .liste__rangee {
    grid-template-columns: 2fr 1fr 1.5fr;
  }
}
@media (max-width: 768px) {
  .liste__rangee {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
.liste__head__titre-colonne {
  text-align: left;
}
.liste__body__contenu-colonne {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.liste__body__contenu-colonne--1 {
  padding-left: 1rem;
}
.liste__body__contenu-colonne--1:has(.icone--demande) {
  border-left: 5px solid #CB912B;
}
.liste__body__contenu-colonne--1:has(.icone--offre) {
  border-left: 5px solid #BB2026;
}
@media (max-width: 1000px) {
  .liste__body__contenu-colonne--1 {
    grid-area: 1/1/span 2/span 1;
  }
}
@media (max-width: 768px) {
  .liste__body__contenu-colonne--1 {
    grid-column: 1/-1;
    grid-row: auto;
    margin-bottom: 1rem;
  }
}
@media (max-width: 1000px) {
  .liste__body__contenu-colonne--2 {
    grid-area: 1/2/span 1/span 1;
  }
}
@media (max-width: 768px) {
  .liste__body__contenu-colonne--2 {
    grid-column: 1/-1;
    grid-row: auto;
  }
}
@media (max-width: 1000px) {
  .liste__body__contenu-colonne--3 {
    grid-area: 2/2/span 1/span 1;
  }
}
@media (max-width: 768px) {
  .liste__body__contenu-colonne--3 {
    grid-column: 1/-1;
    grid-row: auto;
  }
}
.liste__body__contenu-colonne--4 .bouton--activer {
  flex-basis: 50%;
}
@media (max-width: 1000px) {
  .liste__body__contenu-colonne--4 {
    grid-area: 1/3/span 2/span 1;
  }
  .liste__body__contenu-colonne--4 .bouton--activer {
    flex-basis: unset;
    width: 70%;
  }
}
@media (max-width: 768px) {
  .liste__body__contenu-colonne--4 {
    grid-column: 1/-1;
    grid-row: auto;
  }
  .liste__body__contenu-colonne--4 .bouton--activer {
    width: 40%;
  }
}
@media (max-width: 1000px) {
  .liste__body__contenu-colonne {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.25rem;
  }
  .liste__body__contenu-colonne::before {
    content: attr(data-title);
    font-weight: 700;
  }
}
.liste__body .liste__rangee {
  border-bottom: 1px solid #EEEEEE;
}
.liste__body .icone {
  padding: 15px;
  border-radius: 12px;
}
.liste__body .icone--demande {
  background-color: #D6B477;
  color: #70582F;
}
.liste__body .icone--offre {
  background-color: #BB2026;
  color: #FF9FA3;
}
.liste__body .icone i {
  font-size: 20px;
}
.liste__body .poste {
  font-weight: 700;
}
.liste__wrapper-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.liste__wrapper-vertical {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.liste__wrapper-boutons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  width: 100%;
}
@media (max-width: 1000px) {
  .liste__wrapper-boutons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}
@media (max-width: 768px) {
  .liste__wrapper-boutons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
  }
}

/* Spécifique aux tableau de 4 colonnes */
@media (max-width: 1300px) {
  table.liste-5-colonnes thead {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
}
table.liste-5-colonnes .liste__rangee {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}
@media (max-width: 1580px) {
  table.liste-5-colonnes .liste__rangee {
    grid-template-columns: 2.5fr 1.5fr 1fr 1fr 1fr;
  }
}
@media (max-width: 1300px) {
  table.liste-5-colonnes .liste__rangee {
    grid-template-columns: 2fr 1.5fr 1.5fr;
    row-gap: 1rem;
  }
  table.liste-5-colonnes .liste__rangee:first-child {
    padding-top: 0;
  }
}
@media (max-width: 850px) {
  table.liste-5-colonnes .liste__rangee {
    grid-template-columns: 2.5fr 1.5fr 1.5fr;
  }
}
@media (max-width: 768px) {
  table.liste-5-colonnes .liste__rangee {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 1300px) {
  table.liste-5-colonnes .liste__body__contenu-colonne--1 {
    grid-area: 1/1/span 1/span 1;
  }
}
@media (max-width: 1300px) {
  table.liste-5-colonnes .liste__body__contenu-colonne--2 {
    grid-area: 1/2/span 1/span 1;
  }
}
@media (max-width: 768px) {
  table.liste-5-colonnes .liste__body__contenu-colonne--2 {
    grid-column: 1/-1;
    grid-row: auto;
  }
}
@media (max-width: 1300px) {
  table.liste-5-colonnes .liste__body__contenu-colonne--3 {
    grid-area: 2/2/span 1/span 1;
  }
}
@media (max-width: 768px) {
  table.liste-5-colonnes .liste__body__contenu-colonne--3 {
    grid-column: 1/-1;
    grid-row: auto;
  }
}
table.liste-5-colonnes .liste__body__contenu-colonne--4 .bouton--activer {
  flex-basis: 50%;
}
@media (max-width: 1300px) {
  table.liste-5-colonnes .liste__body__contenu-colonne--4 {
    grid-area: 1/3/span 1/span 1;
    grid-area: 2/3/span 1/span 1;
  }
}
@media (max-width: 768px) {
  table.liste-5-colonnes .liste__body__contenu-colonne--4 {
    grid-column: 1/-1;
    grid-row: auto;
  }
}
@media (max-width: 1300px) {
  table.liste-5-colonnes .liste__body__contenu-colonne--5 {
    grid-area: 1/3/span 1/span 1;
  }
}
@media (max-width: 768px) {
  table.liste-5-colonnes .liste__body__contenu-colonne--5 {
    grid-column: 1/-1;
    grid-row: auto;
  }
}
@media (max-width: 1300px) {
  table.liste-5-colonnes .liste__body__contenu-colonne {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.25rem;
  }
  table.liste-5-colonnes .liste__body__contenu-colonne::before {
    content: attr(data-title);
    font-weight: 700;
  }
}

.form-fiche__label-input-vertical h4, label, input:not([type=radio]),
textarea,
select {
  font-family: "Lato";
}

.form-fiche__label-input-vertical h4, .form-fiche__wrapper-titre-groupe-inputs h3 {
  font-size: clamp(1rem, 0.956rem + 0.1408vi, 1.125rem);
}

input:not([type=radio]),
textarea,
select {
  width: 100%;
  padding: 1rem;
  border-width: 1px;
  border-style: solid;
  border-color: #DDDFE1;
  border-radius: 0;
  box-shadow: inset 0 0 10px 1px rgba(238, 238, 238, 0.5294117647);
  color: #707070;
  font-size: 1rem;
}

label {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.1;
}

.form-fiche__wrapper-titre {
  border-left-width: 8px;
  border-left-style: solid;
  padding-left: 1rem;
}
.form-fiche__wrapper-titre h1 {
  margin-bottom: 1.5rem;
}
.form-fiche__nom-section {
  font-weight: 700;
}
.form-fiche__sous-titre {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem;
  background-color: #FFFFFF;
  font-family: "Lato";
  font-size: clamp(1.125rem, 1.0458rem + 0.2535vi, 1.35rem);
  font-weight: 700;
  line-height: 1.1;
}
.form-fiche__input-hors-encadre {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form-fiche__wrapper-boutons-encadre, .form-fiche__wrapper-boutons-inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
  width: 100%;
}
@media (max-width: 800px) {
  .form-fiche__boutons-haut {
    display: none;
  }
}
.form-fiche__encadre {
  width: 100%;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  border-width: 0;
  border-style: solid;
  border-radius: 10px;
  padding-block: clamp(1.875rem, 0.7746rem + 3.5211vi, 5rem);
  padding-inline: 3rem;
}
@media (max-width: 800px) {
  .form-fiche__encadre {
    padding-block: 2rem;
    padding-inline: 1rem;
  }
}
.form-fiche__wrapper-titre-groupe-inputs {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
@media (max-width: 800px) {
  .form-fiche__wrapper-titre-groupe-inputs {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
}
.form-fiche__colonnes-inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
@media (max-width: 800px) {
  .form-fiche__colonnes-inputs {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
}
.form-fiche__colonne-inputs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.form-fiche__label-input-horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 800px) {
  .form-fiche__label-input-horizontal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
.form-fiche__label-input-horizontal label {
  flex-basis: 5%;
}
.form-fiche__label-input-vertical {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-left-width: 8px;
  border-left-style: solid;
  border-left-color: #5E5E5E;
  padding-left: 1rem;
}
.form-fiche__label-input-vertical--sans-bordure {
  border-left: none;
  padding-left: 0;
}
.form-fiche__label-input-demi {
  width: calc(50% - 1rem);
}
.form-fiche__label-radio-input {
  padding-left: 0.5rem;
  font-weight: 400;
}
.form-fiche__wrapper-input-msg-erreur {
  width: 100%;
}
.form-fiche__wrapper-parcourir-bouton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}
.form-fiche__input-parcourir {
  position: relative;
  width: 100%;
  flex-basis: 70%;
}
.form-fiche__input-parcourir button:disabled {
  position: absolute;
  right: 0;
  height: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #DDDFE1;
  border-radius: 0;
  padding-inline: 2rem;
  font-family: "Lato";
  color: #ABAFB3;
  background-color: #EFF0F1;
  cursor: default;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal__contenu {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #FFFFFF;
  width: 30%;
  margin: auto;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.modal__boutons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  margin-left: auto;
}

.header {
  background-color: #FFFFFF;
  padding: 1rem 0;
  margin-left: 5px;
}
.header__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.header__icone-boutons-ajout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.header__icone-boutons-ajout #icone-menu {
  padding: 0 3rem 0 1rem;
  cursor: pointer;
}

.nav-items,
.boutons-ajout {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
}
.nav-items span,
.boutons-ajout span {
  font-family: "Roboto";
  font-size: 13px;
  line-height: 1.1;
}
.nav-items .fa-plus,
.boutons-ajout .fa-plus {
  padding-right: 0.5rem;
}
.nav-items .add-button,
.boutons-ajout .add-button {
  padding: 0.5rem;
  background-color: #FFFFFF;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
}
.nav-items .add-button:hover,
.boutons-ajout .add-button:hover {
  color: #FFFFFF;
}
.nav-items .add-offer,
.boutons-ajout .add-offer {
  border-style: solid;
  border-color: #821519;
  border-radius: 0.5rem;
  color: #BB2026;
}
.nav-items .add-offer:hover,
.boutons-ajout .add-offer:hover {
  background-color: #821519;
}
.nav-items .add-request,
.boutons-ajout .add-request {
  color: #CB912B;
  border-style: solid;
  border-color: #986D22;
  border-radius: 0.5rem;
}
.nav-items .add-request:hover,
.boutons-ajout .add-request:hover {
  background-color: #986D22;
}
.nav-items .add-company,
.boutons-ajout .add-company {
  color: #5E7EB5;
  border-style: solid;
  border-color: #86A9E6;
  border-radius: 0.5rem;
}
.nav-items .add-company:hover,
.boutons-ajout .add-company:hover {
  background-color: #5E7EB5;
}
.nav-items .add-candidate,
.boutons-ajout .add-candidate {
  padding: 0.5rem;
  color: #7F2987;
  border-style: solid;
  border-color: #4A1150;
  border-radius: 0.5rem;
}
.nav-items .add-candidate:hover,
.boutons-ajout .add-candidate:hover {
  background-color: #4A1150;
}

.utilisateur {
  padding: 0 1rem 0 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
.utilisateur .utilisateur__details {
  text-align: right;
}
.utilisateur .utilisateur__nom {
  color: #111111;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.1;
}
.utilisateur .utilisateur__courriel {
  color: #b0b3b8;
  font-family: "Roboto";
  font-size: 13px;
  line-height: 1.1;
}

@media (max-width: 1200px) {
  .btn-ajout-mobile {
    flex-wrap: wrap;
  }
}
@media (max-width: 1094px) {
  .btn-ajout-mobile {
    display: block;
  }
  .add-button {
    width: 100%;
    margin-bottom: 5px;
  }
}
.container-menu {
  background-color: #FFFFFF;
  min-width: 280px;
  height: 100%;
}
@media (max-width: 800px) {
  .container-menu {
    min-width: 100px;
  }
  .container-menu img {
    width: 100%;
  }
}

.logo {
  max-width: 200px;
  padding: 1rem;
}
@media (max-width: 800px) {
  .logo {
    padding: 10px 5px 0 5px;
  }
}

.navbar__menu {
  list-style: none;
  padding: 1rem 0 1rem 1rem;
}
.navbar__menu-item {
  position: relative;
}
.navbar__menu-item a {
  text-decoration: none;
  font-family: "Roboto";
  line-height: 1.1;
}
.navbar__menu-item i {
  margin: 1rem;
  width: 18px;
  height: auto;
  text-align: left;
}
.navbar__menu-item::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 5px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}
.navbar__menu-item.active::after {
  background-color: transparent;
}
.navbar__menu-item.active, .navbar__menu-item:hover {
  font-weight: 700;
}
.navbar__menu-item.tableau-de-bord:hover::after, .navbar__menu-item.tableau-de-bord.active::after {
  background-color: #0C9DA4;
}
.navbar__menu-item.demandes-stage:hover::after, .navbar__menu-item.demandes-stage.active::after {
  background-color: #CB912B;
}
.navbar__menu-item.offres-stage:hover::after, .navbar__menu-item.offres-stage.active::after {
  background-color: #BB2026;
}
.navbar__menu-item.candidats:hover::after, .navbar__menu-item.candidats.active::after {
  background-color: #7F2987;
}
.navbar__menu-item.entreprises:hover::after, .navbar__menu-item.entreprises.active::after {
  background-color: #86A9E6;
}
.navbar__menu-item > .line-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 5px;
  background-color: transparent;
}
.navbar__menu-item.tableau-de-bord i,
.navbar__menu-item.tableau-de-bord span {
  color: #0C9DA4;
}
.navbar__menu-item.tableau-de-bord i:hover,
.navbar__menu-item.tableau-de-bord span:hover {
  color: #0a868c;
}
.navbar__menu-item.demandes-stage i,
.navbar__menu-item.demandes-stage span {
  color: #CB912B;
}
.navbar__menu-item.demandes-stage i:hover,
.navbar__menu-item.demandes-stage span:hover {
  color: #b68227;
}
.navbar__menu-item.offres-stage i,
.navbar__menu-item.offres-stage span {
  color: #BB2026;
}
.navbar__menu-item.offres-stage i:hover,
.navbar__menu-item.offres-stage span:hover {
  color: #a51c22;
}
.navbar__menu-item.candidats i,
.navbar__menu-item.candidats span {
  color: #7F2987;
}
.navbar__menu-item.candidats i:hover,
.navbar__menu-item.candidats span:hover {
  color: #6d2373;
}
.navbar__menu-item.entreprises i,
.navbar__menu-item.entreprises span {
  color: #86A9E6;
}
.navbar__menu-item.entreprises i:hover,
.navbar__menu-item.entreprises span:hover {
  color: #719ae2;
}

@media (max-width: 800px) {
  span.nav-mobile {
    display: none;
  }
  .logo {
    max-width: 100px;
  }
}
/* Général à plusieurs views de candidats */
#ajout-candidat,
#edition-candidat {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
}

.formulaire-ajout-candidat .form-fiche__wrapper-titre,
.formulaire-edition-candidat .form-fiche__wrapper-titre,
.fiche-candidat-details .form-fiche__wrapper-titre {
  border-color: #7F2987;
}

/* Spécifique pour la view Candidats */
.candidats h1 {
  margin-bottom: clamp(1.875rem, 0.7746rem + 3.5211vi, 5rem);
}
.candidats .bouton--mauve {
  margin-bottom: clamp(1.875rem, 0.7746rem + 3.5211vi, 5rem);
}
.candidats__liste {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

/* Spécifique pour la view CandidatAjout */
.formulaire-ajout-candidat .form-fiche__wrapper-titre {
  margin-bottom: 12rem;
}
.formulaire-ajout-candidat h2,
.formulaire-ajout-candidat h3 {
  color: #0C9DA4;
}

/* Spécifique pour la view CandidatDetails */
/* .fiche-candidat-details {
    .form-fiche {
        &__wrapper-boutons-encadre {
            @include mixins.flex(column, null, flex-end, variables.$spacing-medium);
        }
    }
} */
/* Spécifique pour la view CandidatDetails et CandidatMiseAJour */
.fiche-candidat-details h2,
.fiche-candidat-details h3,
.formulaire-edition-candidat h2,
.formulaire-edition-candidat h3 {
  color: #7F2987;
}

/* Général à plusieurs views d'entreprises */
#ajout-entreprise {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
}

#edition-entreprise {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 9rem;
}

.formulaire-ajout-entreprise .form-fiche__wrapper-titre,
.fiche-entreprise-details .form-fiche__wrapper-titre {
  border-color: #86A9E6;
}

.entreprise-logo {
  max-width: 150px;
  /* À valider si on garde ou pas quand on sera rendu au responsive */
  width: 70%;
}

.formulaire-ajout-entreprise h2,
.formulaire-ajout-entreprise h3,
.fiche-entreprise-details h2,
.fiche-entreprise-details h3,
.formulaire-edition-entreprise h2,
.formulaire-edition-entreprise h3 {
  color: #86A9E6;
}

/* Spécifique pour la view Entreprises */
.entreprises h1 {
  margin-bottom: clamp(1.875rem, 0.7746rem + 3.5211vi, 5rem);
  color: #707070;
}
.entreprises__liste {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}
.entreprises__liste a {
  text-decoration: none;
}
.entreprises .bouton--bleu {
  display: inline-block;
  text-decoration: none;
  font-family: "Lato";
  color: #2E456D;
  margin-bottom: 3rem;
}

/* Spécifique pour la view EntrepriseAjout */
.formulaire-ajout-entreprise {
  /*   h2,
  h3 {
      color: variables.$blue;
  } */
}
.formulaire-ajout-entreprise .form-fiche__wrapper-titre {
  margin-bottom: 12rem;
}

/* Spécifique pour la view EntrepriseDetail et EntrepriseMiseAJour */
.fiche-entreprise-details,
.formulaire-edition-entreprise {
  /*   h2,
  h3 {
      color: variables.$blue;
  } */
}
.fiche-entreprise-details .form-fiche__wrapper-titre-logo,
.formulaire-edition-entreprise .form-fiche__wrapper-titre-logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}
.fiche-entreprise-details .form-fiche__wrapper-titre,
.formulaire-edition-entreprise .form-fiche__wrapper-titre {
  border-color: #86A9E6;
}

/* Spécifique pour la view EntrepriseDetail */
.nom-contact {
  font-size: clamp(1.2656rem, 1.1408rem + 0.3993vi, 1.62rem);
  font-weight: 700;
  line-height: 1.1;
}

/* Spécifique pour la view EntrepriseMiseAJour */
#edition-entreprise .form-fiche__label-input-horizontal label {
  flex-basis: 15%;
}

#ajout-demandestages,
#edition-demandestages {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
}

.formulaire-ajout-demandestages .form-fiche__wrapper-titre,
.formulaire-edition-demandestages .form-fiche__wrapper-titre,
.fiche-demandestages-details .form-fiche__wrapper-titre {
  border-color: #CB912B;
}
.formulaire-ajout-demandestages h2,
.formulaire-ajout-demandestages h3,
.formulaire-edition-demandestages h2,
.formulaire-edition-demandestages h3,
.fiche-demandestages-details h2,
.fiche-demandestages-details h3 {
  color: #0C9DA4;
}

.listeStages {
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 80px;
  /* margin-top: 40px; */
}

.pageContainer h1 {
  padding: 3rem 0 3rem 0;
}

/* style pour la page de demande de stage (la liste de toutes les demandes) */
.demandestages-list h1 {
  margin-bottom: clamp(1.875rem, 0.7746rem + 3.5211vi, 5rem);
}
.demandestages-list .bouton--jaune {
  margin-bottom: clamp(1.875rem, 0.7746rem + 3.5211vi, 5rem);
}

/* Spécifique pour la page d'ajout de demandes */
.formulaire-ajout-demandestages .form-fiche__wrapper-titre {
  margin-bottom: clamp(3.125rem, 1.5845rem + 4.9296vi, 7.5rem);
}
.formulaire-ajout-demandestages .boutons {
  justify-content: flex-end;
  margin-bottom: 2rem;
}

#ajout-demandestages .form-fiche__input-parcourir {
  width: 50%;
}
#ajout-demandestages .form-fiche__label-input-horizontal label {
  flex-basis: 5%;
}
@media (max-width: 1380px) {
  #ajout-demandestages .form-fiche__label-input-horizontal label {
    flex-basis: 10%;
  }
}
@media (max-width: 800px) {
  #ajout-demandestages .form-fiche__label-input-horizontal label {
    flex-basis: unset;
  }
}
@media (max-width: 1380px) {
  #ajout-demandestages .form-fiche__input-parcourir {
    width: 60%;
  }
}
@media (max-width: 800px) {
  #ajout-demandestages .form-fiche__input-parcourir {
    width: 100%;
  }
}

#ajout-offrestages,
#edition-offrestages {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
}

.formulaire-ajout-offrestages .form-fiche__wrapper-titre,
.formulaire-edition-offrestages .form-fiche__wrapper-titre,
.fiche-offrestages-details .form-fiche__wrapper-titre {
  border-color: #BB2026;
}
.formulaire-ajout-offrestages h2,
.formulaire-ajout-offrestages h3,
.formulaire-edition-offrestages h2,
.formulaire-edition-offrestages h3,
.fiche-offrestages-details h2,
.fiche-offrestages-details h3 {
  color: #BB2026;
}

.listeOffres {
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 80px;
  margin-top: 40px;
}

/* style pour la page de offre de stage (la liste de toutes les offres) */
.offrestages-list h1 {
  margin-bottom: clamp(1.875rem, 0.7746rem + 3.5211vi, 5rem);
}
.offrestages-list .bouton--rougeOffre {
  margin-bottom: clamp(1.875rem, 0.7746rem + 3.5211vi, 5rem);
}

.accueil__logo {
  background-color: #FFFFFF;
  width: 100%;
  padding: 20px;
}
.accueil__contenu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 900px) {
  .accueil__contenu {
    grid-template-columns: 1fr;
  }
}
.accueil__image {
  background-image: url("../../assets/accueil.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-width: 901px) {
  .accueil__image {
    min-height: calc(100vh - 130px);
  }
}
@media (max-width: 900px) {
  .accueil__image {
    min-height: 40vh;
  }
}

.login-panel {
  width: 100%;
  padding-block: clamp(3.125rem, 1.5845rem + 4.9296vi, 7.5rem);
  padding-left: 4.5rem;
  padding-right: 15rem;
}
@media (max-width: 1280px) {
  .login-panel {
    padding-inline: 3rem !important;
  }
}
@media (max-width: 900px) {
  .login-panel {
    padding-inline: clamp(1.25rem, -0.9507rem + 7.0423vi, 7.5rem) !important;
  }
}
.login-panel__entete {
  width: 100%;
  color: #111111;
  margin-bottom: clamp(3.125rem, 1.5845rem + 4.9296vi, 7.5rem);
}
.login-panel__entete h1 {
  font-family: "Lora", serif;
  font-size: clamp(2.2807rem, 1.6644rem + 1.9723vi, 4.0311rem);
  font-weight: 400;
  line-height: 1.1;
}
.login-panel__entete p {
  font-family: "Lato";
  line-height: 1.1;
  padding: 1rem 0;
  line-height: 1.5;
  color: #5E5E5E;
  max-width: 50ch;
}
.login-panel form {
  width: 100%;
}

.form-identification input {
  border-width: 2px;
  border-style: solid;
  border-color: #0C9DA4;
}

.tableau-bord__info-rapide-entreprises, .tableau-bord__info-rapide-candidats, .tableau-bord__info-rapide-offres, .tableau-bord__info-rapide-demandes {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  border-radius: 10px;
  padding: 2rem;
  position: relative;
}

.tableau-bord__info-rapide-entreprises::before, .tableau-bord__info-rapide-candidats::before, .tableau-bord__info-rapide-offres::before, .tableau-bord__info-rapide-demandes::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 10%;
  border-radius: 0 10px 10px 0;
}

.tableau-bord {
  display: flex;
  flex-direction: column;
  gap: clamp(1.875rem, 0.7746rem + 3.5211vi, 5rem);
}
.tableau-bord__info-rapide {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  color: #FFFFFF;
}
.tableau-bord__info-rapide .chiffre {
  font-size: clamp(1.802rem, 1.4509rem + 1.1237vi, 2.7994rem);
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0.5rem;
}
.tableau-bord__info-rapide-demandes {
  background-color: #CB912B;
}
.tableau-bord__info-rapide-demandes::before {
  background-color: #986D22;
}
.tableau-bord__info-rapide-offres {
  background-color: #BB2026;
}
.tableau-bord__info-rapide-offres::before {
  background-color: #821519;
}
.tableau-bord__info-rapide-candidats-entreprises {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.tableau-bord__info-rapide-candidats-entreprises .bulle-candidat {
  padding-right: 1rem;
}
.tableau-bord__info-rapide-candidats-entreprises .bulle-entreprise {
  padding-left: 1rem;
}
.tableau-bord__info-rapide-candidats {
  background-color: #7F2987;
  border-radius: 10px 0 0 10px;
}
.tableau-bord__info-rapide-candidats::before {
  background-color: #4A1150;
  border-radius: 0;
}
.tableau-bord__info-rapide-entreprises {
  background-color: #86A9E6;
  border-radius: 0 10px 10px 0;
}
.tableau-bord__info-rapide-entreprises::before {
  left: 0;
  background-color: #5E7EB5;
  border-radius: 0;
}
.tableau-bord__icone-info-rapide {
  font-size: clamp(1.802rem, 1.4509rem + 1.1237vi, 2.7994rem);
}
.tableau-bord__entete-dernieres-demandes, .tableau-bord__entete-dernieres-offres {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.tableau-bord__entete-dernieres-demandes h2, .tableau-bord__entete-dernieres-offres h2 {
  margin-bottom: 0.5rem;
}
.tableau-bord__entete-dernieres-demandes p, .tableau-bord__entete-dernieres-offres p {
  color: #BB2026;
  font-family: "Roboto";
  line-height: 1.1;
}
.tableau-bord__entete-dernieres-demandes span {
  color: #CB912B;
}
.tableau-bord__entete-dernieres-offres span {
  color: #BB2026;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding-block: clamp(3.125rem, 1.5845rem + 4.9296vi, 7.5rem);
  padding-inline: clamp(1.25rem, -0.9507rem + 7.0423vi, 7.5rem);
}

.wrapper-sidebar-main-content {
  display: flex;
  flex-direction: row;
}

.wrapper-main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html,
button {
  font-size: 18px;
}

.no-margin, p, .headings, h1,
h2,
h3 {
  margin-block: 0;
}

body {
  margin: 0;
  background-color: #EEEEEE;
  color: #707070;
}

.headings, h1,
h2,
h3 {
  font-family: "Lato";
  font-weight: 700;
}

p {
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1;
  line-height: 1.5;
}

h1 {
  font-size: clamp(1.802rem, 1.4509rem + 1.1237vi, 2.7994rem);
}

h2 {
  font-size: clamp(1.6018rem, 1.3444rem + 0.8237vi, 2.3328rem);
}

h3 {
  font-size: clamp(1.4238rem, 1.2407rem + 0.5861vi, 1.944rem);
}

a,
button {
  cursor: pointer;
}